
:host {
    .container {
        padding: 1rem;
        width: calc(100% - 20px);
        height: calc(100vh - 150px);
        background-color: white;
        background-image: url(/assets/images/qo_watermark.svg);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
    }
}