@import '~@angular/material/theming';

$mat-qo-color: (
    50 : #ffebec,
    100 : #ffcecf,
    200 : #ffadaf,
    300 : #ff8c8f,
    400 : #ff7377,
    500 : #ff5a5f,
    600 : #ff5257,
    700 : #ff484d,
    800 : #ff3f43,
    900 : #ff2e32,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffdada,
    A700 : #ffc0c1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
));

$h3lp3r-app-primary: mat-palette($mat-qo-color);
