@import '~@angular/material/theming';
@import 'qo-colors';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Available palettes: pink, orange, purple, deep-purple, indigo, blue, cyan, teal, 
// green, light-green, lime, yellow, amber, orange, deep-orange, brown, grey, 
$h3lp3r-app-accent:  mat-palette($mat-blue-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$h3lp3r-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$h3lp3r-app-theme: mat-light-theme($h3lp3r-app-primary, $h3lp3r-app-accent, $h3lp3r-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($h3lp3r-app-theme);